.container{
    background: #F84646;
    color: #FFFFFF;
    text-align: center;
    padding: 50px 0;
}

.container h1{
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}

.container p{
    margin-top: 10px;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 60px;
}

.cover{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cover p{
    font-weight: 700;
    margin-right: 35px;
    width: 200px;
}